<a href="https://colab.research.google.com/github/Bhagyeshkasar/makaan_web2/blob/main/makaan_web2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time
from IPython.display import clear_output

In [ ]:
base_url = 'https://www.makaan.com/mumbai-residential-property/buy-property-in-mumbai-city?page='      #multiple pages
own_info = []          #owner info
b_info = []            #bhk info
loc_info = []          #locality info
con_info = []          #construction status info
area_info = []         #area sqft info
price_info = []        #price info
rate_psqft = []        #rate per square feet

In [ ]:
for i in range(1,51):
  time.sleep(3)

  print(f'Going to scrap data from page {i} ' )
  clear_output(wait='True')
  url = base_url + str(i) + '&_=1624462763795'
  req = requests.get(url)
  soup = BeautifulSoup(req.text,'html')

Going to scrap data from page 50

In [ ]:
#owner info
o_inf = (soup.findAll('span',attrs = {'class' : 'seller-type'}) )
for j in o_inf:
  own_info.append(j.text)

In [ ]:
#bhk info
b_inf = soup.findAll('div',attrs={'class':'title-line'})
for k in b_inf:
  b_info.append(k.strong.span.text)

In [ ]:
#locality info
loc_inf = soup.findAll('span',attrs = {'itemprop' : 'addressLocality' })
for l in loc_inf:
   loc_info.append(l.text)

In [ ]:
#construction status info
con_inf = soup.findAll('td',attrs = {'class' : 'val' })
for m in con_inf:
   con_info.append(m.text)

In [ ]:
#area per sqft info
area_inf = soup.findAll('td',attrs={'class' : 'size'})
for n in area_inf:
  area_info.append(n.text)

In [ ]:
 #price info
price_inf = soup.findAll('td',attrs={'class' : 'price'})
for o in price_inf:
  price_info.append(o.text)

In [ ]:
#rate per square feet info
rate = soup.findAll('td',attrs={'class' : 'lbl rate'})
for p in rate:
  rate_psqft.append(p.text)

In [ ]:
print('own_info = ',len(own_info))
print('b_info = ',len(b_info))
print('loc_info = ',len(loc_info))
print('con_info = ',len(con_info))
print('area_info = ',len(area_info))
print('price_info = ',len(price_info))
print('rate_psqft = ',len(rate_psqft))

own_info =  20
b_info =  20
loc_info =  20
con_info =  20
area_info =  20
price_info =  20
rate_psqft =  20

In [ ]:
#Converting data to tabular Format using Pandas

data = pd.DataFrame({'Owner_info' : own_info,
              'BHK_Info' : b_info,
              'Price' : price_info,
              'Locality' : loc_info,
              'Area in Sqft' : area_info,
               'Construction status' : con_info,
               'Price per/sqft' : rate_psqft })

In [27]:
data

   Owner_info BHK_Info  ... Construction status  Price per/sqft
0       OWNER       3   ...       Ready to move  20,000 / sq ft
1       OWNER       3   ...       Ready to move  20,312 / sq ft
2       OWNER       3   ...       Ready to move  20,000 / sq ft
3       OWNER       1   ...       Ready to move  15,294 / sq ft
4       OWNER       1   ...       Ready to move   6,785 / sq ft
5       OWNER       1   ...       Ready to move   6,237 / sq ft
6       OWNER       1   ...       Ready to move  14,406 / sq ft
7       OWNER       3   ...       Ready to move   7,341 / sq ft
8       OWNER       2   ...       Ready to move   4,568 / sq ft
9       OWNER       1   ...       Ready to move  22,727 / sq ft
10      OWNER       2   ...       Ready to move  20,000 / sq ft
11      OWNER       2   ...       Ready to move   7,777 / sq ft
12      OWNER       2   ...       Ready to move  18,181 / sq ft
13      OWNER       1   ...       Ready to move  27,272 / sq ft
14      OWNER       2   ...       Ready to move  23,529 / sq ft
15      OWNER       2   ...       Ready to move  27,777 / sq ft
16      OWNER       1   ...       Ready to move  39,000 / sq ft
17      OWNER       1   ...       Ready to move  11,130 / sq ft
18      OWNER       1   ...       Ready to move  19,469 / sq ft
19      OWNER       1   ...       Ready to move  14,610 / sq ft

[20 rows x 7 columns]

In [ ]:
data.to_csv('makaan_web2.csv')